body{background-color:#FFFFFF;
	 color:#003366;
	 font-family:Arial,Verdana,sans-serif;}
header{background-color:#003366;
	   color:#F0F0F0;
	   font-family:Georgia,"Times New Roman",serif;
	   background-image:url(fishcreeklogo.gif);
	   background-repeat:no-repeat;
	   background-position:center;
	   background-size:550px;
	   padding:1em;
	   text-align:center;}
#wrapper {margin-left:auto;
		  margin-right:auto;
		  width:90%;
		  min-width:700px;}
h2{font-size:1.2em;
   text-shadow: 1px 1px 1px #777;}
nav{font-weight:bold;
	text-align: center;
	background-color:#5280C5;
	padding:.5em;
	text-decoration: italic;}
dt{color:#5280C5;
   font-size:1.1em;
   font-weight:bold;
   font-family:Georigia,"Times New Roman",serif;}
.category{font-weight:bold;
		  color:#5380C5;
		  font-family:Georgia,"Times New Roman",serif;}
footer{font-size:.70em;
	   font-style:italic;
	   text-align: center;
	   bottom-padding:.5em;
	   background-color:#AEC3E3;}
main{left-padding:2em;
	 right-padding:2em;}
footer nav{background-color:#F0F0F0;
		   font-size:110%;
		   bottom-padding:.5em;}
#wrapper{margin-left:auto;
		 margin-right:auto;
		 width:90%;
		 background-color:#F0F0F0;}
